* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Para el cuerpo del texto */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.contenedor-principal {
    width: 100%;
    max-width: 1920px; /* Máximo para 24 pulgadas */
    min-width: 1366px; /* Mínimo para 14 pulgadas */
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

/* Contenido interno se ajusta proporcionalmente */
.contenido {
    width: 90%; /* Escala dentro del contenedor */
    max-width: 1600px; /* Limita el contenido en pantallas grandes */
    margin: 0 auto;
}

/* Media query para fijar el diseño en 14 pulgadas */
@media (max-width: 1366px) {
    .contenedor-principal {
        width: 1366px; /* Fija el ancho en 14 pulgadas */
        overflow-x: auto; /* Scroll horizontal si es necesario */
    }
}




.contenedor-principal {
    width: 100%;
    max-width: 1920px; /* Aproximado para pantallas de 24 pulgadas a 1080p */
    min-width: 1366px; /* Aproximado para pantallas de 14 pulgadas a 1366x768 */
    margin: 0 auto;
}

/* Para los títulos 
h1, h2, h3 {
    font-family: 'Merriweather', serif;
}
*/


#image-carousel .splide__slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 500px; /* Adjust this value as needed */
}
  

  

.custom-hero {
    background: url('images/franco.jpg') no-repeat;
    background-size: contain;
    height: 100vh;
  }
  
.programas{


    width: 50%;
    height: auto;
}


.aliados {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Alinea verticalmente */
    gap: 50px; /* Espaciado entre imágenes */
    
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px; /* Ajusta el tamaño según sea necesario */
    height: 150px;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 10px; /* Opcional: bordes redondeados */
  }
  
  .cell img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Asegura que la imagen se ajuste sin deformarse */
  }

  .gobierno-digital {
    background-color: #3366CC;
    
  }
  

/* index.css */

/* Estilos para la nueva barra de navegación */
.new-navbar {
    display: flex;
    align-items: center;
    /* justify-content: center; Centra el contenido horizontalmente */
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    position: relative;
    overflow: visible; /* Permite que la imagen sobresalga */
    
}

.new-navbar .logo {
    margin-right: 20px;
}

/* Estilos para el título de la nueva barra de navegación */
.new-navbar .navbar-title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #fa352f;
    padding: 1%;
    padding-left: 1%;
   
}

.new-navbar .nav-items {
    list-style: none;
    display: flex;
    gap: 20px; /* Espacio entre los elementos */
}

.new-navbar .nav-items li {
    display: inline;
}

.new-navbar .nav-items a {
    text-decoration: none;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.new-navbar .nav-items a:hover {
    background-color: #fa352f;
    color: #fff;
}

/* Estilos específicos para el botón de iniciar sesión */
.login-button {
    background-color: #fa352f;
    color: #fafafa;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.login-button:hover {
    background-color: #fff;
    color: #fa352f;
    border: 1px solid #fa352f;
}

.logo img {
    max-height: 80px;
    width: auto;

}


#caja{
    width: 100%;
    height: auto;
    padding: 2%;
    display: flex;
    align-content: center;
}

#caja-texto{
    width: 95%;
    height: auto;
}

.box div h1{
    padding-top: 1%;
    margin: 1%;
} 

.box div h2{
    padding-top: 3%;
    margin: 1%;
} 

.fecha-limite{
    color: #fa352f;
    font-weight: bold;
}


.oferta-academica {
    list-style-type:circle; /* Cambia el tipo de viñeta (disc, circle, square, etc.) */
    padding-left: 5%;
  }


  