* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Para el cuerpo del texto */
body {
    font-family: 'Roboto', sans-serif;
}

/* Para los títulos */
h1, h2, h3 {
    font-family: 'Merriweather', serif;
}


/* index.css */

/* Estilos para la nueva barra de navegación */
.new-navbar {
    display: flex;
    align-items: center;
    /* justify-content: center; Centra el contenido horizontalmente */
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    position: relative;
    overflow: visible; /* Permite que la imagen sobresalga */
}

.new-navbar .logo {
    margin-right: 20px;
}

/* Estilos para el título de la nueva barra de navegación */
.new-navbar .navbar-title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #fa352f;
    padding: 5px;
    padding-left: 100px;
   
}

.new-navbar .nav-items {
    list-style: none;
    display: flex;
    gap: 20px; /* Espacio entre los elementos */
}

.new-navbar .nav-items li {
    display: inline;
}

.new-navbar .nav-items a {
    text-decoration: none;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.new-navbar .nav-items a:hover {
    background-color: #fa352f;
    color: #fff;
}

/* Estilos específicos para el botón de iniciar sesión */
.new-navbar .nav-items .login-button {
    background-color: #fa352f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.new-navbar .nav-items .login-button:hover {
    background-color: #fff;
    color: #fa352f;
    border: 1px solid #fa352f;
}

.logo img {
    max-height: 80px;
    width: auto;
    position: absolute;
    top: -10px; /*Ajusta para que salga del contenedor */ 
    left: 50%;
    transform: translateX(-640px);
}


  